.footer {
  text-align: center;
  padding: 4em 1em;
  background-color: var(--blue-3);

  p {
    font-size: 2em;
    color: var(--blue-1);
  }
}

.btn-go-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  padding: 1em;
  background-color: var(--blue-1);
  border: none;
  border-radius: 50%;
  color: var(--white);
  opacity: 0;
  transition: opacity 0.25s;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}
