.newsletter {
  padding: 2em calc((100% - 960px) / 2);
  background-color: var(--gray-7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.newsletter-item {
  flex-basis: 260px;
  flex: 1;
  margin: 1em;

  h2 {
    font-size: 3em;
    padding-bottom: 0;
  }

  p {
    color: var(--gray-2);
    line-height: 1.25;
    min-width: 250px;
  }
}

.newsletter-form {
  flex: 2;
  display: flex;
  flex-wrap: nowrap;

  input {
    border: 3px solid var(--blue-1);
    padding: 1em 0.5em;
    flex: 3;
    border-radius: 0;
    background-color: transparent;
    font-family: var(--font-family);
    font-size: 1.25rem;
    &:focus {
      outline: none;
      border-color: var(--blue-3);
    }
  }

  button {
    flex: 1;
    font-size: 1.5rem;
    background-color: var(--blue-1);
    color: var(--white);
    text-transform: uppercase;
    border: 0;
    font-family: var(--font-family);
    font-weight: 700;
    padding: 0.5rem;
    &:hover {
      cursor: pointer;
      background-color: var(--blue-3);
    }
  }
}
